In [147]:
import numpy as np
import pandas as pd

In [148]:
df = pd.read_csv('mydata.csv')
df

    A     B     C            D
0   1   2.0   3.0       'Good'
1   4   NaN   6.0       'Good'
2   7   NaN   9.0  'Excellent'
3  10  11.0  12.0          NaN
4  13  14.0  15.0  'Excellent'
5  16  17.0   NaN       'Fair'
6  19  12.0  12.0  'Excellent'
7  20  11.0  23.0       'Fair'

There are a lot of missing values in this file. We already covered many possibilities. One of them is do replace a column by the mean value:

In [149]:
df['B']=df['B'].fillna(value=df['B'].mean())
df['C']=df['C'].fillna(value=df['C'].mean())

A different approach is required for column D where you want to use the most frequent value

In [150]:
df['D']=df['D'].fillna(value=df['D'].value_counts().index[0])

In [151]:
df

    A          B          C            D
0   1   2.000000   3.000000       'Good'
1   4  11.166667   6.000000       'Good'
2   7  11.166667   9.000000  'Excellent'
3  10  11.000000  12.000000  'Excellent'
4  13  14.000000  15.000000  'Excellent'
5  16  17.000000  11.428571       'Fair'
6  19  12.000000  12.000000  'Excellent'
7  20  11.000000  23.000000       'Fair'

Of course do you want to do this all the time ?

You first initialize an instance of the SimpleImputer class by indicating the strategy (mean) as well as specifying the missing values that you want to locate (np.nan):

In [152]:
from sklearn.impute import SimpleImputer

In [153]:
df = pd.read_csv('mydata.csv')
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

Once the instance is created, you use the `fit()` function to fit the imputer on the column(s) that you want to work on:

In [154]:
imputer = imputer.fit(df[['B','C']])

You can now use the `transform()` function to fill the missing values based on the strategy you specified in the initializer of the SimpleImputer class:

In [155]:
df[['B','C']] = imputer.transform(df[['B','C']])

In [156]:
df

    A          B          C            D
0   1   2.000000   3.000000       'Good'
1   4  11.166667   6.000000       'Good'
2   7  11.166667   9.000000  'Excellent'
3  10  11.000000  12.000000          NaN
4  13  14.000000  15.000000  'Excellent'
5  16  17.000000  11.428571       'Fair'
6  19  12.000000  12.000000  'Excellent'
7  20  11.000000  23.000000       'Fair'

Now doing column D:

In [157]:
imputer = SimpleImputer(strategy='most_frequent', 
                        missing_values=np.nan)
imputer = imputer.fit(df[['D']])
df[['D']] = imputer.transform(df[['D']])

In [158]:
df

    A          B          C            D
0   1   2.000000   3.000000       'Good'
1   4  11.166667   6.000000       'Good'
2   7  11.166667   9.000000  'Excellent'
3  10  11.000000  12.000000  'Excellent'
4  13  14.000000  15.000000  'Excellent'
5  16  17.000000  11.428571       'Fair'
6  19  12.000000  12.000000  'Excellent'
7  20  11.000000  23.000000       'Fair'

This can still be done much better

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
df = pd.read_csv('mydata.csv')
df.values

In [ ]:
First_step=('replace_with_mean',
            SimpleImputer(strategy='mean',missing_values=np.nan),
            [1,2])

Second_step=('replace_with_mostfrequent',
             SimpleImputer(strategy='most_frequent',missing_values=np.nan),
            [3])

In [ ]:
my_transformer = ColumnTransformer(transformers=[First_step,Second_step],remainder='passthrough')

In [ ]:
my_transformer.fit(df.values)

In [ ]:
Y=my_transformer.transform(df.values)

In [ ]:
pd.DataFrame(Y,columns=['A','B','C','D'])